# Kafka
confluent-kafka
# Utilities
python-dotenv
loguru

# Database
sqlalchemy[asyncio,postgresql]
psycopg

# Vector Database
faiss-cpu
qdrant_client

# Data Processing
pandas
numpy

# Text Processing & Embeddings
sentence-transformers

#logging
loguru